[Unit]
Description=Pi Bluetooth Stack (Auto Pair + PAN NAP + PAN IP)
After=bluetooth.service
Wants=bluetooth.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/larokiaraj/pi-display-manager
ExecStart=/home/larokiaraj/pi-display-manager/backend/bluetooth_stack_manager.sh
Restart=always
RestartSec=2
StartLimitIntervalSec=0
StandardOutput=append:/home/larokiaraj/pi-display-manager/bt_stack.log
StandardError=append:/home/larokiaraj/pi-display-manager/bt_stack.log

[Install]
WantedBy=multi-user.target
