[Unit]
Description=Pi Bluetooth PAN IP Manager
After=pi-bt-nap.service
Wants=pi-bt-nap.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/larokiaraj/pi-display-manager
ExecStart=/home/larokiaraj/pi-display-manager/backend/bluetooth_pan_manager.sh
Restart=always
RestartSec=2
StandardOutput=append:/home/larokiaraj/pi-display-manager/bt_pan_ip.log
StandardError=append:/home/larokiaraj/pi-display-manager/bt_pan_ip.log

[Install]
WantedBy=multi-user.target
