[Unit]
Description=Pi Display Manager BLE GATT Server
After=bluetooth.service network-online.target
Wants=bluetooth.service network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/larokiaraj/pi-display-manager
ExecStart=/home/larokiaraj/pi-display-manager/venv/bin/python3 /home/larokiaraj/pi-display-manager/backend/gatt_server.py
Restart=always
RestartSec=3
StandardOutput=append:/home/larokiaraj/pi-display-manager/gatt_server.log
StandardError=append:/home/larokiaraj/pi-display-manager/gatt_server.log

[Install]
WantedBy=multi-user.target
